<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <p>{{ titulo }}</p>
  <p>{{ saudacao() }}</p>
  <a v-bind:href="link">Google</a>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      titulo: 'Usando VueJs 2',
      link: 'https://google.com.br/',
    },
    methods: {
      saudacao: function() {
        console.log(this);
        return this.titulo;
      },
    },
  });
</script>
