<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <p v-once>{{ titulo }}</p>
  <p>{{ saudacao() }}</p>
  <a v-bind:href="link">Google</a>
  <p>{{ linkHtml }}</p>
  <hr>
  <span v-html="linkHtml"></span>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      titulo: 'Usando VueJs 2',
      link: 'https://google.com.br/',
      linkHtml: '<a href="http://google.com.br/">Google</a>',
    },
    methods: {
      saudacao: function() {
        this.titulo = 'Bom dia!!';
        return this.titulo;
      },
    },
  });
</script>
