<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<h1>Escutando Eventos</h1>

<div id="app">
  <p v-once>{{ contador }}</p>
  <p>{{ contador }}</p>
  <button v-on:click="somar">Somar 1</button>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      contador: 0,
    },
    methods: {
      somar() {
        this.contador++;
      },
    },
  });
</script>
