<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<h1>Passando nossos proprios argumentos com eventos</h1>

<div id="app">
  <p v-once>{{ contador }}</p>
  <p>{{ contador }}</p>
  <button v-on:click="somar($event, 5)">Somar 5</button>
  <p v-on:mousemove="atualizarXY">Mouse: {{ x }} - {{ y }}</p>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      contador: 0,
      x: 0,
      y: 0,
    },
    methods: {
      somar(ev, passo) {
        console.log(ev, passo);
        this.contador += passo;
      },
      atualizarXY(event) {
        console.log(event);
        this.x = event.clientX;
        this.y = event.clientY;
      },
    },
  });
</script>
