<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<h1>Eventos de Teclado</h1>

<div id="app">
  <p v-once>{{ contador }}</p>
  <p>{{ contador }}</p>
  <button v-on:click="somar($event, 5)">Somar 5</button>
  <p v-on:mousemove="atualizarXY">
    Mouse: {{ x }} - {{ y }}
    <span v-on:mousemove.stop.prevent>Para aqui!!</span>
  </p>
  <a v-on:click.prevent href="http://google.com.br/">Google</a>
  <a v-on:click="naoNavegar" href="http://google.com.br/">Google</a><hr>
  <p>Pressione Alt+Enter</p>
  <input type="text" v-on:keyup.enter.alt="exibirAlerta">
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      contador: 0,
      x: 0,
      y: 0,
    },
    methods: {
      somar(ev, passo) {
        console.log(ev, passo);
        this.contador += passo;
      },
      atualizarXY(event) {
        console.log(event);
        this.x = event.clientX;
        this.y = event.clientY;
      },
      exibirAlerta() {
        alert('Estou alertando!');
      },
      parar(e) {
        e.stopPropagation();
      },
      naoNavegar(e) {
        e.preventDefault();
      },
    },
  });
</script>
