<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<h1>Interpolação</h1>

<div id="app">
  <p v-once>{{ contador }}</p>
  <p>{{ 1 + 2 - 6 + 200 }}</p>
  <p>{{ contador }}</p>
  <p>{{ contador > 10 ? 'Maior do que 10' : 'Menor do que 10' }}</p>
  <button v-on:click="somar">Somar 1</button>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      contador: 0,
    },
    methods: {
      somar() {
        this.contador ++;
      },
    },
  });
</script>
