<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<h1>Usando Two-Way-Binding</h1>

<div id="app">
  <p>Two Way Binding</p>
  <p>{{ titulo }}</p>
  <input type="text" v-bind:value="titulo" v-on:input="titulo = $event.target.value">
  <input type="text" v-model="titulo">
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      titulo: 'Usando VueJs 2',
    },
  });
</script>
