<script src="https://unpkg.com/vue"></script>

<h1>Monitorando as mudanças</h1>

<div id="app">
  <button v-on:click="aumentar">Aumentar</button>
  <button v-on:click="contador2++">Aumentar2</button>
  <button v-on:click="diminuir">Diminuir</button>
  <p>Contador: {{ contador }} | {{ contador2 }}</p>
  <p>Resultado: {{ resultado }}</p>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      contador: '',
      contador2: '',
    },
    // propriedades computadas são sincronas, chama e retorna o valor
    computed: { // metodos computados são chamados só quando necessario pelo proprio vue deixando outros tarefas em cache
      resultado() { // quando chama metodo computado, chama como atributo e não como metodo()
        console.log('metodo computed resultado chamado...');
        return this.contador >= 5 ?
          'Maior ou igual a 5' : 'Menor que 5';
      },
    },
    // watch é assincrono, monitora as alterações de alguma propriedade
    watch: { // tem que ter conflito, ele vai monitorar a propriedade que foi modificada
      contador(novo, antigo) {
        //console.log(novo, antigo);

        // abordagem diferente usando funcion
        // const instanciaVue = this;
        // setTimeout(function() {
        //   instanciaVue.contador = 0;
        // }, 2000);

        setTimeout(() => {
          this.contador = 0; // this não funciona com function normal, não é um this lexico
        }, 2000);
      }
    },
    methods: {
      aumentar() {
        this.contador++;
      },
      diminuir() {
        this.contador--;
      },
      /* resultado() {
        console.log('metodo resultado chamado...')
        return this.contador >= 5 ?
          'Maior ou igual a 5' : 'Menor que 5';
      }, */
    },
  });
</script>
