<script src="https://unpkg.com/vue"></script>

<h1>Sintaxe Reduzida (Shorthands)</h1>

<div id="app">
  <p v-once>{{ contador }}</p>
  <p>{{ contador }}</p>
  <!-- <button v-on:click="somar">Somar 1</button> -->
  <button @click="somar">Somar 1</button> <!-- @ = v-on -->
  <hr>
  <!-- <input type="text" v-bind:value="contador"> -->
  <input type="text" :value="contador"> <!-- : = v-bind -->
  <!-- Sem : no value ele fica literal -->
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      contador: 0,
    },
    methods: {
      somar() {
        this.contador++;
      },
    },
  });
</script>
