<script src="https://unpkg.com/vue"></script>

<style>
  #app {
    display: flex;
    justify-content: space-around;
  }
  .demo {
    width: 100px;
    height: 100px;
    background-color: gray;
  }
  .cor-1 {
    background-color: red;
  }
  .cor-2 {
    background-color: green;
  }
  .cor-3 {
    background-color: blue;
  }
</style>

<div id="app">
  <!-- não tem problema aplicar class e :class no mesmo atributo no vuejs, pois ele junta tudo -->
  <!-- :class tem problema com - , para fazer funcionar colocar a class sobre aspas simples 'cor-1' -->
  <!-- :class"{chave: valor(valor precisa ser boleano)} -->
  <!-- o nome da class não pode ferir os nomes validos dos identificadores do javascript -->
  <div class="demo"
    :class="{'cor-1': aplicarC1}"
    @click="aplicarC1 = !aplicarC1"></div>
  <div class="demo"
  :class="{'cor-2': aplicarC2}"
  @click="aplicarC2 = !aplicarC2"></div>
  <div class="demo"
  :class="{'cor-3': aplicarC3}"
  @click="aplicarC3 = !aplicarC3"></div>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      aplicarC1: false,
      aplicarC2: false,
      aplicarC3: false,
    },
  });
</script>
