<script src="https://unpkg.com/vue"></script>

<style>
  #app {
    display: flex;
    justify-content: space-around;
  }
  .demo {
    width: 100px;
    height: 100px;
    background-color: gray;
  }
  .cor-1 {
    background-color: red;
  }
  .c2 {
    background-color: green;
  }
  .cor-3 {
    background-color: blue;
  }
</style>

<div id="app">
  <!-- não tem problema aplicar class e :class no mesmo atributo no vuejs, pois ele junta tudo -->
  <!-- :class tem problema com - , para fazer funcionar colocar a class sobre aspas simples 'cor-1' -->
  <!-- :class"{chave: valor(valor precisa ser boleano)} -->
  <!-- O nome da class não pode ferir os nomes validos dos identificadores do javascript -->
  <!-- :class="{'cor-1': aplicarC1, c2: !aplicarC1}" -->
  <div class="demo"
    :class="estilo1"
    @click="aplicarC1 = !aplicarC1"></div>
  <div class="demo"></div>
  <div class="demo"></div>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      aplicarC1: false,
      aplicarC2: false,
      aplicarC3: false,
    },
    computed: {
      // deixa o template mais enxulto colocando as regras aqui quando for mais complexo
      estilo1() {
        return {
          'cor-1': this.aplicarC1,
          c2: !this.aplicarC1,
        };
      },
    },
  });
</script>
