<script src="https://unpkg.com/vue"></script>

<style>
  .caixas {
    display: flex;
    justify-content: space-around;
  }
  .demo {
    width: 100px;
    height: 100px;
    background-color: gray;
  }
  .c1 {
    background-color: red;
  }
  .c2 {
    background-color: green;
  }
  .c3 {
    background-color: blue;
  }
  .girar {
    transform: rotate(45deg);
  }
</style>

<div id="app">

  <div class="caixas">
    <!-- se tirar as aspas internas do background-color, não vai funcionar, porque é um indentificador valido, mas pode substituir por camel case-->
    <div class="demo" :style="{backgroundColor: cor}"></div>
    <!-- <div class="demo" :style="meuEstilo"></div> -->
    <div class="demo" :style="[meuEstilo, {height: altura}]"></div>
    <div class="demo"></div>
    <!-- Se tiver uma expressão muito complexa, cria uma propriedade computada que o codigo vai ficar um pouco mais limpo  -->
  </div>
  <hr>
  <!-- é possivel aplicar classes css a partir de uma propriedade monitorada -->
  <input type="text" v-model="cor">
  <input type="text" v-model="largura">
  <input type="text" v-model="altura">
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      cor: 'red',
      largura: 100,
      altura: 20,
    },
    computed: {
      meuEstilo() {
        return {
          backgroundColor: this.cor,
          // `` pode ser chamado de template string
          // width: `${this.largura}px`,
          width: this.largura + 'px',
        }
      },
    },
  });
</script>
