<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <p>{{ title }}</p>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      title: 'Usando VueJs 2',
    },
  });
</script>