<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
  <input type="text" v-on:input="alterTitle">
  <p>{{ title }}</p>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      title: 'Usando VueJs 2',
    },
    methods: {
      alterTitle(event) {
        this.title = event.target.value;
      },
    },
  });
</script>