<link rel="stylesheet" href="styles.css">
<script src="https://unpkg.com/vue"></script>

<div id="desafio">
	<!-- 1) Iniciar a execução do efeito usando botão.
    O efeito deve alternadamente trocar as classes "destaque" e
    "encolher" para cada chamada de setInteval. Use a div abaixo
	com id "efeito" para associar as classes CSS. -->
	<h2>#01</h2>
	<div>
		<button @click="iniciarEfeito()">Iniciar Efeito</button>
		<div id="efeito" :class="mudarEfeito"></div>
	</div>

	<!-- 2) Crie duas classes CSS e associe a div usando a
		sintaxe de array -->
	<h2>#02</h2>
	<div :class="[c1, c2]">Estou com 2 classes CSS :)</div>

	<!-- 3) Aplique na div abaixo a classe informada pelo usuário
		(crie classe CSS de exemplo). -->
	<h2>#03</h2>
	<div>
		<input type="text" v-model="classeDigitada">
		<div :class="classeDigitada">{{classeDigitada}}</div>
	</div>

	<!-- 4) Aplique na div abaixo a classe informada pelo usuário e
    outra classe usando o valor true/false (crie classes CSS de exemplo). -->
	<h2>#04</h2>
	<div>
		<input type="text" v-model="classeUsuario1">
		<input type="text" v-model="ativarClasse">
		<div :class="[classeUsuario1, {classeUsuario2: ativarClasse}]">&nbsp;</div>
	</div>

	<!-- 5) Repita 3) mas utilizando estilos ao invés de classes CSS.
    Associe os estilos a div abaixo  -->
	<h2>#05</h2>
	<div>
		<input type="text" v-model="mudarEstilo">
		<div :style="mudarEstilo">&nbsp;</div>
	</div>

	<!-- 6) Crie uma barra de progresso simples com setInterval
    e binding de estilo. -->
	<h2>#06</h2>
	<div>
		<button @click="iniciarProgresso()">Iniciar</button>
		<div class="barraProgresso">
      <div class="progresso" :style="{'width': valorBarra + '%'}">{{valorBarra}}&nbsp;{{completo}}</div>
    </div>
	</div>
</div>
<script src="app.js"></script>
