#efeito {
	width: 100px;
	height: 100px;
	border: 1px solid black;
}

.destaque {
	background-color: red;
	width: 200px !important;
}

.encolher {
	background-color: gray;
	width: 50px !important;
}

.classe01 {
	width: 250px;
	height: 200px;
}

.classe02 {
	background-color: darkgray;
}

.classeUsuario1 {
	width: 50px;
	height: 50px;
	background-color: darkgreen;
}
.classeUsuario2 {
	width: 80px;
	height: 80px;
	border: 1px solid black;
}
.barraProgresso {
	width: 100%;
	height: 30px;
	border: 1px solid black;
	
}
.progresso {
	height: 100%;
	background-color: aquamarine;
}